@charset "utf-8";

/********************
  common
********************/
body {
	background-color: #fff;
	color: #4d4d4d;
	font-size: 3vw;
	letter-spacing: .5vw;
	font-family: YuGothic, "游ゴシック体", "游ゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}
a {
	color: #4d4d4d;
	text-decoration: none;
}
.flexbox { display: flex; }
.fontMont { font-family: 'Montserrat', sans-serif; }
.bold { font-weight: bold; }
.white { color: #fff; }
.whiteBg { background-color: #fff; }
.gray { color: #bfbfbf; }
.grayBg{ background-color: #bfbfbf; }
.redBgTr{ background: rgba(200,0,0,.8); }
.greenBgTr{	background: rgba(0,100,0,.8); }
.blueBgTr{ background: rgba(0,0,200,.8); }
.titleSection {
	width: 80vw;
	margin: 10vw auto 10vw;
}
.titleSectionText {
	font-size: 4vw;
	margin-top: 4vw;
	font-weight: bold;
}
.Borderlottie {
	position: absolute;
	top: -4vw;
	z-index: 10;
}
::selection			{ background: rgba(255,255,0,0.5); }
::-moz-selection	{ background: rgba(255,255,0,0.5); } /* for Firefox */
.fadeIn {
	opacity : 0;
	visibility: hidden;
	transition: 1s;
	transform: translateY(30px);
}
.fadeInActive {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
.fadeInNow {
	animation: fadeInNow 1s;
}
@keyframes fadeInNow {
	0%		{ opacity: 0%;		transform: translateY(30px); }
	100%	{ opacity: 100%;	transform: translateY(0);	 }
}
/********************
  animationLogoSymbol
********************/
.animationLogoSymbol {
	height: 6vw;
	margin-bottom: 1vw;
}
.logoSymbol1 {
	height: 100%;
}
.logoSymbol2 {
	height: 70%;
	transform: translate(50%, 50%) rotate(90deg);
	transform-origin: 100% 50%
}
.logoSymbol2Active {
	transform: translate(15%, 0%);
	animation: symbol2 1.5s ease-in;	
}
@keyframes symbol2 {
	0%		{ transform: translate(50%, 50%) rotate(90deg); }
	30%		{ transform: translate(50%, 50%) rotate(90deg);	}
	80%		{ animation: linear;
			  transform: translate(20%, 0%) rotate(0); }
	90%		{ transform: translate(20%, 0%) rotate(10deg); }
	100%	{ transform: translate(15%, 0%) rotate(0deg); }
}
/********************
  nav
********************/
.navBox {
	height: 10vw;
	width: 100%;
	z-index: 20;
    align-items: center;
    justify-content: flex-end;
	box-shadow: 0 1px 10px 1px rgb(0,0,0,.2);
}
.logoIchiro {
	width: 25vw;
	margin-left: 3.2vw;
}
nav {
	font-size: 2.7vw;
	text-align: center;
	margin-left: auto;
}
nav a {
    margin: 0 2vw;
	transition: 1s;
	position: relative;
	display: inline-block;
}
nav a::after {
	position: absolute;
	bottom: -1vw; left: 0;
	content: '';
	width: 100%;
	height: 1px;
	background: #bfbfbf;
	transform: scale(0, 1);
	transform-origin: center top;
	transition: transform 1s;
}
nav a:hover {
	letter-spacing: 1vw;
}
nav a:hover::after {
	transform: scale(1, 1);
}
nav a:hover::after {
	transform: scale(1, 1);
}
.navScroll {
	position: fixed;
	font-size: 4vw;
	bottom: 0%; left: 96%;
	z-index: 20;
	transition: 1s;
	opacity: 0;
}
.navScroll li {
	margin: 10vw 0;
	transform-origin: 50% 100%;
	transition: 1s;
}
.scrollActive {
	opacity: 1;
	transform: translate(-50%, -50%) rotate(-90deg);
}
.scrollInactive {
	opacity: .2;
	transform: translate(0, 0) rotate(0);
}
.show {
	opacity: 1;	
}
/********************
  topProfile
********************/
.profile {
	position: relative;
	line-height: 2;
}
.profile .titleSectionText {
	margin-top: 0vw;
}
.boxDiscription {
	width: 70vw;
	padding: 0 0 5vw;
	margin: 0 auto;
}
.titleMyName {
	font-size: 5vw;
	font-weight: bold;
	margin-bottom: 5vw;
}
rt {
	font-weight: normal;
}
.profileTableFirst {
	width: 15vw;
}
/********************
  boxPictureMe
********************/
.boxPictureMe {
	width: 30vw;
	position: absolute;
	top: 0%; left: 60%;
}
.pictureMe {
	width: 100%;
}
/********************
  topWorks
********************/
.works {
	padding: 5vw 0;
	position: relative;
}
.iconWorks {
	width: 3vw;
	padding-right: 1.5vw;
}
.containerWorks {
	width: 85vw;
	margin: 0 auto;
	display: grid;
	gap: 3vw;
}
.item {
	text-align: center;
	justify-content: center;
	position: relative;
}
.item1 { grid-area: a;}
.item2 { grid-area: b;}
.item3 { grid-area: c;}
.item4 { grid-area: d;}
.item5 { grid-area: e;}
.item6 { grid-area: f;}
.item7 { grid-area: g;}
.item8 { grid-area: h;}
.item9 { grid-area: i;}
.coverImg {
	width: 90%;
	margin: 5% auto;
	position: relative;
	overflow: hidden;
}
.coverImg img {
	display: block;
	width: 100%;
	opacity: 1;
	transform: scale(1, 1) rotate(0);
	transition: all 1s;
}
.coverImg:hover img {	
	opacity: 0.5;
	transform: scale(1.5, 1.5) rotate(10deg);
}
.hoverText {
	opacity: 0;
	width: 100%;
	position: absolute;
	top: 45%; left: 0;
	font-size: 90%;
	line-height: 1.5;
	color: #fff;
	transform: scale(2, 2) rotate(45deg);
	transition: all 1s;
}
.coverImg:hover .hoverText {
	opacity: 1;
	transform: scale(1, 1) rotate(0);
}
.titleWorks {
	margin-bottom: 6%;
}
.containerWorksVideo {
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(2, auto-fill);
	grid-template-areas:
		"a"
		"b";
}
.containerWorksWeb {
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(1, auto-fill);
	grid-template-areas:
		"a";
}
.iconGraphic {
	width: 3.8vw;
}
.containerWorksGraphic {
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, auto-fill);
	grid-template-areas:
		"a a b b"
		"c c c c"
		"d d e e"
		"f f g g"
		"h h i i"; 
}
/********************
  footer
********************/
footer {
	width: 100%;
	height: 15vw;
	padding: 5vw 0;
	text-align: center;
	justify-content: space-around;
}
.footerBox {
	width: 70vw;
	margin: 2vw auto 4.2vw;
	justify-content: center;
	align-items: center;
}
.footerImg {
	width: 45%;
	transition: 1s;
}
.footerImg:hover {
	transform: scale(1.2, 1.2);
}
small {
	font-size: 2vw;
	letter-spacing: 0vw;
}
/********************
  タブレットサイズ
********************/
@media screen and (min-width: 600px) {
	body {
		font-size: 1.9vw;
		letter-spacing: .4vw;
	}	
	.titleSection {
		margin: 10vw auto 10vw;
	}
	nav {
		font-size: 2vw;
	}	
	.navScroll {
		font-size: 3vw;
	}
	.navScroll li {
		margin: 6vw 0;
	}
	/********************
	 top
	********************/
	.titleWorks {
		font-size: 3vw;
	}	
	.titleMyName {
		font-size: 4vw;
		font-weight: bold;
		margin-bottom: 5vw;
	}
}
/********************
  PCサイズ
********************/
@media screen and (min-width: 1025px) {
	.brSp {	
		display: none;
	}	
	body {
		font-size: 1.5vw;
		letter-spacing: .5vw;
	}	
	.titleSection {
		margin: 5vw auto;
	}
	.titleSectionText {
		font-size: 3vw;
	}
	.animationLogoSymbol {
		height: 3.5vw;
	}
	.logoIchiro {
		height: 2vw;
	}	
	nav {
		font-size: 1vw;
	}
	.navBox {
		height: 4vw;
	}
	.navScroll {
		font-size: 2vw;
	}	
	.navScroll li {
		margin: 4.5vw 0;
	}	
	.titleWorks {
		font-size: 1vw;
	}
	/********************
	 topProfile
	********************/
	.titleMyName {
		font-size: 3vw;
		font-weight: bold;
		margin-bottom: 5vw;
	}	
	button {
		height: 4vw;
		font-size: 1.5vw;
		padding : 0 4vw;
	}
	/********************
	 works
	********************/
	figcaption {
		font-size: 1vw;
		letter-spacing: 0;
	}	
	.containerWorksVideo {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(1, auto-fill);
		grid-template-areas:
			"a b";
	}	
	.containerWorksWeb {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(1, auto-fill);
		grid-template-areas:
			"a";
	}	
	.containerWorksGraphic {
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(3, auto-fit);
		grid-template-areas:
			"a b f g h i"
			"d d d e e e"
			"c c c c c c";
	}
}