@charset "utf-8";

/********************
  general
********************/
body {
	background-color: #fff;
	color: #4d4d4d;
	font-size: 3vw;
	letter-spacing: .5vw;
	font-family: YuGothic, "游ゴシック体", "游ゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}
a {
	color: #4d4d4d;
	text-decoration: none;
}
.flexbox { display: flex; }
.fontMont { font-family: 'Montserrat', sans-serif; }
.bold { font-weight: bold; }
.white { color: #fff; }
.whiteBg { background-color: #fff; }
.gray { color: #bfbfbf; }
.grayBg{ background-color: #bfbfbf; }
.redBgTr{ background: rgba(200,0,0,.8); }
.greenBgTr{	background: rgba(0,100,0,.8); }
.blueBgTr{ background: rgba(0,0,200,.8); }
.titleSection {
	width: 80vw;
	margin: 10vw auto 10vw;
}
.titleSectionText {
	font-size: 4vw;
	margin-top: 4vw;
	font-weight: bold;
}
.Borderlottie {
	position: absolute;
	top: -4vw;
	z-index: 10;
}
::selection			{ background: rgba(255,255,0,0.5); }
::-moz-selection	{ background: rgba(255,255,0,0.5); } /* for Firefox */
.fadeIn {
	opacity : 0;
	visibility: hidden;
	transition: 1s;
	transform: translateY(30px);
}
.fadeInActive {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
.fadeInNow {
	animation: fadeInNow 1s;
}
@keyframes fadeInNow {
	0%		{ opacity: 0%;		transform: translateY(30px); }
	100%	{ opacity: 100%;	transform: translateY(0);	 }
}
/********************
  animationLogoSymbol
********************/
.animationLogoSymbol {
	height: 6vw;
	margin-bottom: 1vw;
}
.logoSymbol1 {
	height: 100%;
}
.logoSymbol2 {
	height: 70%;
	transform: translate(50%, 50%) rotate(90deg);
	transform-origin: 100% 50%
}
.logoSymbol2Active {
	transform: translate(15%, 0%);
	animation: symbol2 1.5s ease-in;	
}
@keyframes symbol2 {
	0%		{ transform: translate(50%, 50%) rotate(90deg); }
	30%		{ transform: translate(50%, 50%) rotate(90deg);	}
	80%		{ animation: linear;
			  transform: translate(20%, 0%) rotate(0); }
	90%		{ transform: translate(20%, 0%) rotate(10deg); }
	100%	{ transform: translate(15%, 0%) rotate(0deg); }
}
/********************
  top
********************/
header {
	overflow: hidden;
}
.keyVisual {
	width: 300vw;
	position: relative;
	left: -104%;
}
/********************
  nav
********************/
.navBox {
	height: 10vw;
	width: 100%;
	z-index: 20;
    align-items: center;
    justify-content: flex-end;
	box-shadow: 0 1px 10px 1px rgb(0,0,0,.2);
}
.logoIchiro {
	width: 25vw;
	margin-left: 3.2vw;
}
nav {
	font-size: 2.7vw;
	text-align: center;
	margin-left: auto;
}
nav a {
    margin: 0 2vw;
	transition: 1s;
	position: relative;
	display: inline-block;
}
nav a::after {
	position: absolute;
	bottom: -1vw; left: 0;
	content: '';
	width: 100%;
	height: 1px;
	background: #bfbfbf;
	transform: scale(0, 1);
	transform-origin: center top;
	transition: transform 1s;
}
nav a:hover {
	letter-spacing: 1vw;
}
nav a:hover::after {
	transform: scale(1, 1);
}
nav a:hover::after {
	transform: scale(1, 1);
}
.navScroll {
	position: fixed;
	font-size: 4vw;
	bottom: 0%; left: 96%;
	z-index: 20;
	transition: 1s;
	opacity: 0;
}
.navScroll li {
	margin: 10vw 0;
	transform-origin: 50% 100%;
	transition: 1s;
}
.scrollActive {
	opacity: 1;
	transform: translate(-50%, -50%) rotate(-90deg);
}
.scrollInactive {
	opacity: .2;
	transform: translate(0, 0) rotate(0);
}
.show {
	opacity: 1;	
}
/********************
  topProfile
********************/
.profile {
	position: relative;
	line-height: 2;
}
.profile .titleSectionText {
	margin-top: 0vw;
}
.boxDiscription {
	width: 70vw;
	padding: 0 0 5vw;
	margin: 0 auto;
}
.titleMyName {
	font-size: 5vw;
	font-weight: bold;
	margin-bottom: 5vw;
}
rt {
	font-weight: normal;
}
.profileTableFirst {
	width: 15vw;
}
button {
	margin: 0 10vw 5vw auto;
	background: #bfbfbf;
	color: #fff;
	height: 8vw;
	border: none;
	position: relative;
	font-size: 2vw;
	letter-spacing: .5vw;
	padding : 0 6vw;
	cursor: pointer;
	transition: 800ms ease all;
	outline: none;
}
button:hover {
	background: #fff;
	color: #bfbfbf;
}
button:before,
button:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 1px;
	width: 0;
	background: #bfbfbf;
	transition: 400ms ease all;
}
button:after{
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}
button:hover:before,
button:hover:after{
	width: 100%;
	transition: 800ms ease all;
}
/********************
  boxPictureMe
********************/
.boxPictureMe {
	width: 30vw;
	position: absolute;
	top: 0%; left: 60%;
}
.pictureMe {
	width: 100%;
}
/********************
  works
********************/
.works {
	padding: 5vw 0;
	position: relative;
}
.iconWorks {
	width: 3vw;
	padding-right: 1.5vw;
}
.containerWorks {
	width: 85vw;
	margin: 0 auto;
	display: grid;
	gap: 3vw;
}
.item {
	text-align: center;
	justify-content: center;
	position: relative;
}
.item1 { grid-area: a;}
.item2 { grid-area: b;}
.item3 { grid-area: c;}
.item4 { grid-area: d;}
.item5 { grid-area: e;}
.item6 { grid-area: f;}
.item7 { grid-area: g;}
.item8 { grid-area: h;}
.item9 { grid-area: i;}
.coverImg {
	width: 90%;
	margin: 5% auto;
	position: relative;
	overflow: hidden;
}
.coverImg img {
	display: block;
	width: 100%;
	opacity: 1;
	transform: scale(1, 1) rotate(0);
	transition: all 1s;
}
.coverImg:hover img {	
	opacity: 0.5;
	transform: scale(1.5, 1.5) rotate(10deg);
}
.hoverText {
	opacity: 0;
	width: 100%;
	position: absolute;
	top: 45%; left: 0;
	font-size: 90%;
	line-height: 1.5;
	color: #fff;
	transform: scale(2, 2) rotate(45deg);
	transition: all 1s;
}
.coverImg:hover .hoverText {
	opacity: 1;
	transform: scale(1, 1) rotate(0);
}
.titleWorks {
	margin-bottom: 6%;
}
.containerWorksVideo {
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(2, auto-fill);
	grid-template-areas:
		"a"
		"b";
}
.containerWorksWeb {
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(1, auto-fill);
	grid-template-areas:
		"a";
}
.iconGraphic {
	width: 3.8vw;
}
.containerWorksGraphic {
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, auto-fill);
	grid-template-areas:
		"a a b b"
		"c c c c"
		"d d e e"
		"f f g g"
		"h h i i"; 
}
/********************
  footer
********************/
footer {
	width: 100%;
	height: 15vw;
	padding: 5vw 0;
	text-align: center;
	justify-content: space-around;
}
.footerBox {
	width: 70vw;
	margin: 2vw auto 4.2vw;
	justify-content: center;
	align-items: center;
}
.footerImg {
	width: 45%;
	transition: 1s;
}
.footerImg:hover {
	transform: scale(1.2, 1.2);
}
small {
	font-size: 2vw;
	letter-spacing: 0vw;
}
/********************
  profile
********************/
nav a:first-child::after {
	transform: scale(1, 1);
}
.marginProfile {
	margin-bottom: 15vw;
}
.profileSkills {
	position: relative;
	text-align: center;
	padding: 20vw 0;
}
.titleProfileSkills {
	font-size: 4vw;
	font-weight: bold;
	letter-spacing: 2vw;
	margin: 10vw auto 1vw;
}
.textProfileSkills {
	line-height: 10vw;
	margin: 5vw 0 30vw;
}
.boxHandLine {
	width: 60vw;
	position: relative;
	margin: 0 auto;
}
.skillHand {
	width: 12vw;
	position: absolute;
	transition: 5s;
	transform: translate(-20%, -50%) rotate(-50deg);
}
.skillHandActive {
	animation: skillHand 4s;
	animation-fill-mode: forwards;
}
@keyframes skillHand {
	0%		{ transform: translate(-20%, -50%) rotate(-50deg); }
	100%	{ transform: translate(500%, -22%) rotate(0deg); }
}
.skillLine {
	width: 100%;
	stroke-dasharray: 500;
	stroke-dashoffset: -350;
}
.skillLineActive {
	animation: skillLine 4s;
	animation-fill-mode: forwards;
}
@keyframes skillLine {
	0%		{ stroke-dashoffset: -350;}
	100%	{ stroke-dashoffset: 0;}
}
.boxSkillIllusts {
	position: rellative;
}
.skillFlyer, .skillCamera, .skillEdit, .skillPc, .skillSpeaker {
	position: absolute;
	width: 8vw;
	stroke-dasharray: 500;
	stroke-dashoffset: -350;
}
.boxSkillIllustsActive {
	animation: boxSkillIllusts 3s;
	animation-fill-mode: forwards;	
}
@keyframes boxSkillIllusts {
	0%		{ stroke-dashoffset: -350;}
	100%	{ stroke-dashoffset: 0;}
}
.skillFlyer		{ top: 33vw; left: 5vw; }
.skillCamera	{ top: 62vw; left: 4vw; }
.skillEdit		{ top: 78vw; left: 12vw; }
.skillPc		{ top: 62vw; left: 82vw; }
.skillSpeaker	{ top: 78vw; left: 68vw; width: 10vw;}
.skillTable {
	width: 65vw;
	margin: 18vw auto 0;
	font-size: 3vw;
	text-align: left;
	letter-spacing: 0;
	line-height: 1.5;
}
.skillTable th {
	width: 40vw;
	padding: 5vw 0;
}
.skillTableFirst {
	width: 60%;
}
/********************
  profile Advantage
********************/
.skillAdvantage {
	position: relative;
	padding: 20vw 0 10vw;
}
.titleProfileAdvantage {
	width: 80vw;
	margin: 10vw auto;
	font-size: 4vw;
	font-weight: bold;
	letter-spacing: 2vw;
}
.boxAdvantage {
	width: 90vw;
	margin: 2vw auto;
	justify-content: center;
}
.flexEnd {
	align-items: flex-end;	
}
.itemAdvantage {
	flex: 1;
	width: 70%;
	margin: 0 auto;
}
.advantageImg {
    margin: 5vw 5vw 2vw;
}
.advantageImg03 {
	width: 60%;
}
.textAdvantage {
    margin: 1vw;
	padding-left: 2vw;
	font-size: 2.5vw;
	line-height: 1.5;
}
/********************
  profile Philosophy
********************/
.profilePhilosophy {
	text-align:	center;
	position: relative;
	padding: 20vw 0 30vw;
	overflow: hidden;
}
.titlePhilosophy {
	position: relative;
	letter-spacing: 1vw;
}
.textPhilosophy {
	position: relative;
	line-height: 3;
}
.profilePhilosophyBack {
	position: relative;
}
.imgPhilosophy {
	position: absolute;
	opacity: 0;
	transition: 1s;
}
.imgPhilosophy01 { /* もぐら名刺 */
	width: 20vw;
	animation: imgPhilosophy01 5s infinite alternate;
}
@keyframes imgPhilosophy01 {
    0% { transform: translate(-40vw, -10vw);}
  100% { transform: translate(-40vw, -13vw);}
}
.imgPhilosophy02 { /* はたトロ */
	width: 22vw;
	animation: imgPhilosophy02 5s infinite alternate;
}
@keyframes imgPhilosophy02 {
    0% { transform: translate(20vw, 0vw);}
  100% { transform: translate(20vw, 3vw);}
}
.imgPhilosophy03 { /* シャトー */
	width: 10vw;
	animation: imgPhilosophy03 5s infinite alternate;
}
@keyframes imgPhilosophy03 {　
    0% { transform: translate(0vw, 0vw);}
  100% { transform: translate(2vw, 3vw);}
}
.imgPhilosophy04 { /* マクロ1 */
	width: 18vw;
	animation: imgPhilosophy04 6s infinite alternate;
}
@keyframes imgPhilosophy04 {
    0% { transform: translate(30vw, 40vw);}
  100% { transform: translate(30vw, 43vw);}
}
.imgPhilosophy05 { /* マクロ2 */
	width: 15vw;
	animation: imgPhilosophy05 6s infinite alternate;
}
@keyframes imgPhilosophy05 {
    0% { transform: translate(-50vw, 60vw);}
  100% { transform: translate(-50vw, 63vw);}
}
.imgPhilosophy06 { /* 眼科 */
	width: 18vw;
	animation: imgPhilosophy06 6s infinite alternate;
}
@keyframes imgPhilosophy06 {
    0% { transform: translate(0vw, 40vw);}
  100% { transform: translate(0vw, 43vw);}
}
.imgPhilosophy07 { /* 新宿 */
	width: 26vw;
	animation: imgPhilosophy07 5s infinite alternate;
}
@keyframes imgPhilosophy07 {
    0% { transform: translate(-26vw, 65vw);}
  100% { transform: translate(-26vw, 62vw);}
}
.imgPhilosophy08 { /* 江戸小判 */
	width: 22vw;
	animation: imgPhilosophy08 5s infinite alternate;
}
@keyframes imgPhilosophy08 {
    0% { transform: translate(22vw, -10vw);}
  100% { transform: translate(22vw, -13vw);}
}
.imgPhilosophy09 { /* 図書館 */
	width: 60vw;
	animation: imgPhilosophy09 6s infinite alternate;
}
@keyframes imgPhilosophy09 {
    0% { transform: translate(-43vw, 23vw);}
  100% { transform: translate(-43vw, 20vw);}
}
.imgPhilosophy10 { /* 桜いちご */
	width: 30vw;
	animation: imgPhilosophy10 6s infinite alternate;
}
@keyframes imgPhilosophy10 {
    0% { transform: translate(-18vw, -14vw);}
  100% { transform: translate(-18vw, -11vw);}
}
.imgPhilosophy11 { /* いいでん */
	width: 30vw;
	animation: imgPhilosophy11 6s infinite alternate;
}
@keyframes imgPhilosophy11 {
    0% { transform: translate(-35vw, 40vw);}
  100% { transform: translate(-38vw, 43vw);}
}
.imgPhilosophy12 { /* ぼんだんす */
	width: 30vw;
	animation: imgPhilosophy12 6s infinite alternate;
}
@keyframes imgPhilosophy12 {
    0% { transform: translate(15vw, 65vw);}
  100% { transform: translate(18vw, 68vw);}
}
/********************
  profile Theory
********************/
.skillTheory {
	position: relative;
	overflow: hidden;
	padding-bottom: 12vw;
}
.titleSkillTheory {
	width: 80vw;
	margin: 30vw auto 10vw;
	font-size: 4vw;
	font-weight: bold;
	letter-spacing: 2vw;	
}
.textTheory {
	position: relative;
	width: 80vw;
	font-size: 2.5vw;
	line-height: 5;
	margin: 0 auto 20vw;
}
.underline {
	position: relative;
	z-index: 1;
}
.underline:after {
	content: '';
	position: absolute;
	left: 0; bottom: -.5vw;
	width: 0%;
	height: 1.5vw;
	background: rgba(255,255,0,0.5);
	z-index: -1;
	transition: 4s;
}
.profileTheoryLogo {
	height: 30vw;
	opacity: .5;
	position: absolute;
	bottom: 18vw; left: 45vw;
	z-index: -1;
}
/********************
  contact
********************/
.titleSectionContact {
	padding-top: 11vw;
}
.iframe-wrap {
	position: relative;
	width: 100%;
	height: 0;
	padding-top: 200vw;
}
.iframe-wrap iframe {
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
}
/********************
  タブレットサイズ
********************/
@media screen and (min-width: 600px) {
	body {
		font-size: 1.9vw;
		letter-spacing: .4vw;
	}	
	.titleSection {
		margin: 10vw auto 10vw;
	}
	nav {
		font-size: 2vw;
	}	
	.navScroll {
		font-size: 3vw;
	}
	.navScroll li {
		margin: 6vw 0;
	}
	/********************
	 top
	********************/
	.titleWorks {
		font-size: 3vw;
	}	
	.titleMyName {
		font-size: 4vw;
		font-weight: bold;
		margin-bottom: 5vw;
	}	
	/********************
	  profile
	********************/
	.profileSkills {
		padding: 10vw 0 13vw;
	}	
	.marginProfile {
		margin: 10vw auto 6vw;
	}
	.titleProfileSkills {
		font-size: 3.2vw;
		margin: 10vw auto 1vw;
	}
	.textProfileSkills {
		font-size: 2.8vw;
		line-height: 10vw;
		margin: 5vw 0 25vw;
	}
	.boxHandLine {
		width: 50vw;
	}
	.skillHand {
		width: 10vw;
	}
	.skillFlyer		{ top: 22vw; left: 10vw; }
	.skillCamera	{ top: 47vw; left: 7vw; }
	.skillEdit		{ top: 65vw; left: 18vw; }
	.skillPc		{ top: 47vw; }
	.skillSpeaker	{ top: 66vw; left: 65vw;}
	.skillTable th {
		width: 40vw;
		padding: 5vw 0;
	}
	.skillTableFirst {
		width: 60%;
	}	
	.skillAdvantage {
		padding: 15vw 0 10vw;
	}	
	.titleProfileAdvantage {
		width: 70vw;
		margin: 10vw auto 0;
		font-size: 3.3vw;
	}	
	.boxAdvantage {
		width: 75vw;
	}	
	.textAdvantage {
		font-size: 2vw;
	}	
	.titleSkillTheory {
		width: 75vw;
		margin: 10vw auto 5vw;
		font-size: 3.3vw;
		padding-top: 10vw;
	}	
	.textPhilosophy {
		font-size: 2.5vw;
		margin: 7vw 0 0;
	}
}
/********************
  PCサイズ
********************/
@media screen and (min-width: 1025px) {
	.brSp {	
		display: none;
	}	
	body {
		font-size: 1.5vw;
		letter-spacing: .5vw;
	}	
	.titleSection {
		margin: 5vw auto;
	}
	.titleSectionText {
		font-size: 3vw;
	}
	.animationLogoSymbol {
		height: 3.5vw;
	}
	/********************
	 top
	********************/
	.keyVisual {
		width: 100%;
		position: relative;
		left: 0;
	}	
	.logoIchiro {
		height: 2vw;
	}	
	nav {
		font-size: 1vw;
	}	
	.navScroll {
		font-size: 2vw;
	}	
	.navScroll li {
		margin: 4.5vw 0;
	}	
	.titleWorks {
		font-size: 1vw;
	}	
	/********************
	 topProfile
	********************/
	.titleMyName {
		font-size: 3vw;
		font-weight: bold;
		margin-bottom: 5vw;
	}	
	.navBox {
		height: 4vw;
	}	
	button {
		height: 4vw;
		font-size: 1.5vw;
		padding : 0 4vw;
	}	
	/********************
	 works
	********************/
	figcaption {
		font-size: 1vw;
		letter-spacing: 0;
	}	
	.containerWorksVideo {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(1, auto-fill);
		grid-template-areas:
			"a b";
	}	
	.containerWorksWeb {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(1, auto-fill);
		grid-template-areas:
			"a";
	}	
	.containerWorksGraphic {
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(3, auto-fit);
		grid-template-areas:
			"a b f g h i"
			"d d d e e e"
			"c c c c c c";
	}	
	/********************
	 profile
	********************/
	.titleProfileSkills {
		font-size: 3.2vw;
	}
	.textProfileSkills {
		font-size: 1.9vw;
		line-height: 6vw;
	}	
	.boxSkillIllusts {
		width: 4vw;
	}	
	.skillFlyer		{ top: 20vw; }
	.skillCamera	{ top: 37vw; left: 7vw; }
	.skillEdit		{ top: 52vw; }
	.skillPc		{ top: 39vw; left: 80vw; }
	.skillSpeaker	{ top: 53vw; }
	.skillTable {
		width: 60vw;
		font-size: 1.8vw;
		line-height: 1.8;
	}	
	.skillTable th {
		padding: 2vw 0;
	}	
	.skillTableFirst {
		width: 60%;
	}	
	.skillAdvantage {
		padding: 15vw 0 10vw;
	}	
	.titleProfileAdvantage {
		width: 70vw;
		margin: 10vw auto 0;
		font-size: 2vw;
		letter-spacing: 1vw;
	}	
	.boxAdvantage {
		width: 75vw;
	}	
	.textAdvantage {
		font-size: 1.2vw;
		letter-spacing: .3vw;
	}	
	.textPhilosophy {
		font-size: 1.6vw;
		margin: 5vw 0;
	}	
	@keyframes imgPhilosophy11 { /* いいでん */
		0% { transform: translate(-35vw, 35vw);}
	  100% { transform: translate(-38vw, 38vw);}
	}	
	@keyframes imgPhilosophy04 { /* マクロ1 */
		0% { transform: translate(25vw, 35vw);}
	  100% { transform: translate(25vw, 32vw);}
	}	
	@keyframes imgPhilosophy05 { /* マクロ2 */
		0% { transform: translate(-50vw, 52vw);}
	  100% { transform: translate(-50vw, 55vw);}
	}
	@keyframes imgPhilosophy06 { /* 眼科 */
		0% { transform: translate(0vw, 38vw);}
	  100% { transform: translate(0vw, 41vw);}
	}	
	@keyframes imgPhilosophy07 { /* 新宿 */
		0% { transform: translate(-26vw, 55vw);}
	  100% { transform: translate(-26vw, 52vw);}
	}	
	@keyframes imgPhilosophy12 { /* ぼんだんす */
		0% { transform: translate(20vw, 55vw);}
	  100% { transform: translate(20vw, 58vw);}
	}	
	.skillTheory {
		padding-bottom: 23vw;
	}	
	.titleSkillTheory {
		width: 70vw;
		font-size: 2vw;
		letter-spacing: 1vw;
	}
	.textTheory {
		width: 70vw;
		font-size: 1.5vw;
		line-height: 4;
		margin: 0 auto;
	}	
	.underline:after {
		bottom: 0vw;
		height: .7vw;
	}	
	.profileTheoryLogo {
		height: 25vw;
		bottom: 10vw; left: 45vw;
	}
}